<div class="wrapper">

    <div class="product">
        <div class="product-img-wrapper">
    
            <img src="{{libro.img}}" alt="{{libro.title}}"/>
        </div>
        <div class="product-info-wrapper">
            <h3>{{libro.title}}</h3>
            <h4>{{libro.autor}}</h4>
            <div>
                <p>{{libro.year}}</p>
                <p>{{libro.genre}}</p>
            </div>
        </div>
    </div>

    <form>
        <h1>Edición de productos</h1>
        <label> Id
            <input type="text" [(ngModel)]='libro.id' name="id">
        </label>
        
        <label> Imagen
            <input [(ngModel)]='libro.img' type="text" placeholder="Por ej: 9.50" name="img">
        </label>
        
        <label> Título
            <input [(ngModel)]='libro.title' type="text" placeholder="Por ej: Lo más vendido este mes" name="title">
        </label>
        
        <label> Autor
            <input [(ngModel)]='libro.autor' type="text" placeholder="Por ej: Lo más vendido este mes" name="autor">
        </label>
        
        <label> Año
            <input [(ngModel)]='libro.year' type="text" placeholder="Por ej: 4.28" name="year">
        </label>
        
        <label> Género
            <input [(ngModel)]='libro.genre' type="text" placeholder="Por ej: 4.28" name="genre">
        </label>
        
        
        
        
        <button (click)="updateProduct()" class="buttonsave">guardar</button>
        

    </form>
</div>    

    