div {
    background-color: #4b4837;
    padding: 50px 20px;
    color: white;

    .title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            padding: 20px;

            a {
                display: flex;
                gap: 10px;
                text-decoration: none;
                img {
                    width: 20px;
                }
            }
        }
    }
}