<div>
    <p>Siguenos en:</p>
    <ul>
        <li>
            <a href="https://twitter.com/">
                <img src="https://graffica.ams3.digitaloceanspaces.com/2023/07/rQYXqS5v-F1ySdm9WYAIbjHo-1024x1024.jpeg" alt="twitter"/>
            </a>
            
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/facebook_original_logo_icon_146526.png" alt="facebook"/>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="instagram"/>
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/es/">
                <img src="https://seeklogo.com/images/T/tiktok-logo-1F4A5DCD45-seeklogo.com.png" alt="tiktok"/>
            </a>

        </li>
    </ul>
</div>
