<div>
    <p class="title">Siguenos en:</p>
    <ul>
        <li>
            <a href="https://github.com/puskitas5">
                <img src="assets/img/github.png" alt="github"/>
                <p>/pustkitas5</p>
            </a>
            
        </li>
        
        <li>
            <a href="https://github.com/CarolinaAlbanS">
                <img src="assets/img/github.png" alt="github"/>
                <p>/CarolinaAlbanS</p>
            </a>
        </li>

        <li>
            <a href="https://github.com/albadvg">
                <img src="assets/img/github.png" alt="github"/>
                <p>/albadvg</p>
            </a>
        </li>
        <li>
            <a href="https://github.com/OhMyCris">
                <img src="assets/img/github.png" alt="github"/>
                <p>/OhMyCris</p>
            </a>

        </li>
        <li>
            <a href="https://github.com/bobysoft86">
                <img src="assets/img/github.png" alt="github"/>
                <p>/bobysoft86</p>
            </a>

        </li>
    </ul>
</div>
