<header>
    <img src="assets/img/logo.jpg" alt="Plumas Literarias" class="logo">
    <p>PLUMAS LITERARIAS</p>
    <div class="wrapper">
        <img src="assets/img/menu.png" alt="" class="burguer-icon" (click)="openBurguer()">
        <nav class="hidden" [ngClass]="burguerOpen ? 'open' : 'closed'">
            <img src="assets/img/cerrar.png" alt="" class="close-icon" (click)="closeBurguer()">
            <ul>
                <li (click)="closeBurguer()" routerLink="/">
                    <a>INICIO</a>
                </li>
                <li (click)="closeBurguer()" routerLink="/libreria">
                    <a>LIBROS</a>
                </li>
                <li (click)="closeBurguer()" routerLink="/create">
                    <a>AÑADIR LIBRO</a>
                </li>
            </ul>
        </nav>
    </div>
</header>