<div class="main">
    <div class="cuerpo">
        <h1>Un rincon oculto...</h1>
        <h3>¿Que puedes encontrar con nosotos?</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum deleniti molestias, modi explicabo quod cumque dolorem voluptatibus aut facilis laboriosam itaque provident impedit eveniet hic accusantium in natus similique officia!</p>
        <h3>¿Donde estamos?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, corrupti! Ad impedit explicabo ab assumenda soluta beatae officia odio aut dolore, quibusdam quas tempora magni nulla eveniet aperiam porro omnis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, tempore? Veniam repellat provident modi voluptas, quis, deserunt quas qui ipsa libero harum alias totam minus ipsam? Explicabo nobis tempora eum!</p>
        <h3>¿Como nacio la idea?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsum recusandae reiciendis nihil natus eveniet cumque aperiam dolorum quos ipsam nam voluptates nulla sapiente ipsa, tenetur excepturi maxime dolorem ut.</p>
        <h3> ¿Es seguro usar nuesta Web?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, corrupti! Ad impedit explicabo ab assumenda soluta beatae officia odio aut dolore, quibusdam quas tempora magni nulla eveniet aperiam porro omnis.</p>
    
    
    </div>
    <div class="imagen">
        <img src="https://www.clara.es/medio/2022/06/03/frases-libros-pensar_76779bbf_1280x720.jpg" alt="foto"/>
    </div>
    </div>