.main{
    display: flex;
}


.cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 2%;

}
.imagen{
    height: 77.3vh;
}