div {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    span {
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
    }

    .current {
        text-decoration: underline;
    }
}